body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: red;
  background-color: #E9EADF;
}

a:visited, a:link, a:active {
  text-decoration: none;
  color: #ff9800;
}
a:hover {
  text-decoration: none;
  color: red;
}

h2 {
  font-size: 80px;
}

#logo {
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: center fixed;
  height: 150px;
  width: 300px;
  margin: 0 auto;
  div {
  height: 150px;
  width: 300px;
  }
}

#global-nav-header {
  text-align: center;
  padding: 20px;
}

.nav-links{
  display: flex;
  font-size: 20px;
  justify-content: space-around;
  padding: 1.5vw;
}

.unauth-nav-links{
  display: flex;
  font-size: 20px;
  justify-content: space-around;
  padding: 1.5vw;
}


/*----------------login-------*/
#login-container {
  position: relative;
  text-align: center;
  margin-top: -30px;
}
.login-form {
  flex-direction: row wrap;
  padding-bottom: 30px;
  font-size: 85%;
  margin-top: 30px;
}
.login-btn {
  background-color: blue;
  border: none;
  padding: 5px 48px;
  font-size: 120%;
}

.form-header {
  font-size: 17px;
  padding: 10px;
  color: #666;
}

.forgot-password {
  color: #FFFFFF;
  flex-direction: row wrap;
  position: relative;
  font-size: 95%;
  opacity: .8;
}
#user-welcome {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  color: #666;
}
#user-edit {
  text-align: center;
  font-size: 20px;
}

.terms-container {
  width: 800px;
  position: relative;
  justify-content: center;
  margin-left: 23%;
  margin-right: 25%;
}

#terms {
  color: red;
  text-align: center;
  margin-left: 200px;
}


.player-wrapper {
  display:none;
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  display:none;
  position: absolute;
  top: 0;
  left: 0;
}