body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: red;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: #ff9800;
}

#logo {
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: center fixed;
  height: 150px;
  width: 300px;
  margin: 0 auto;
  div {
  height: 150px;
  width: 300px;
  }
}

#global-nav-header {
  text-align: center;
  padding: 20px;
}

.nav-links{
  display: flex;
  font-size: 20px;
  justify-content: space-around;
  padding: 1.5vw;
}

.unauth-nav-links{
  display: flex;
  font-size: 20px;
  justify-content: space-around;
  padding: 1.5vw;
}


/*----------------login-------*/
#login-container {
  position: relative;
  text-align: center;
}
.login-form {
  flex-direction: row wrap;
  padding-bottom: 30px;
  font-size: 65%;
  margin-top: 30px;
}
.login-btn {
  background-color: blue;
  border: none;
  padding: 5px 48px;
}

.forgot-password {
  color: #FFFFFF;
  flex-direction: row wrap;
  position: relative;
  font-size: 65%;
  opacity: .7;
}